.lanyard-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: pan-y;
  overflow: hidden;
}

.lanyard-wrapper canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  outline: none;
}
